{% extends 'base.html.twig' %}

{% block title %}Home - Agent Environment{% endblock %}

{% block body %}
    {#                   #}
    {# Slideshow section #}
    {#                   #}

        {#                                 #}
        {# Afbeeldingen/titel, teasertekst #}
        {# Administratie aanpassen?        #}

    {#                    #}
    {# SMART Toepassingen #}
    {#                    #}
<section class="container">
    <h1>big dram hours</h1>
</section>
    {#                     #}
    {# Laatste 4 artikelen #}
    {#                     #}

    {#                   #}
    {# Laatste 4 video's #}
    {#                   #}

    {#                                           #}
    {# Logo's van Simulation Center Partnerships #}
    {#                                           #}

{% endblock %}

{% block footer %}{% endblock %}
{% block javascript %}

{% endblock %}

