{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}
{% block body %}
    <section class="container">
        <h1>New article</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}